@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
	font-family: "Lato", sans-serif;
	padding: 0;
	margin: 0;
}

/* NAVBAR */
nav {
	background-color: #111;
	color: #fff;
	padding: 20px 50px;
}

.nav-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.search {
	display: flex;
	align-items: center;
	background-color: gray;
	padding: 10px 20px;
	border-radius: 10px;
}

.search-input {
	border: none;
	background-color: transparent;
}

.search-input::placeholder {
	color: lightgray;
}

.limited-offer {
	font-size: 20px;
	border-bottom: 2px solid green;
	cursor: pointer;
}

.nav-bottom {
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-item {
	margin-right: 50px;
	cursor: pointer;
	color: lightgray;
	font-weight: 400;
}

/* SLIDER */
.slider {
	background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}

.slider-wrapper {
	display: flex;
	width: 100vw;
}

.slider-item {
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.slider-bg {
	width: 750px;
	height: 750px;
	position: absolute;
	border-radius: 50%;
}

.slider-image {
	z-index: 1;
}

.slider-title {
	position: absolute;
	top: 10%;
	right: 10%;
	font-size: 60px;
	font-weight: 900;
	text-align: center;
	color: #fff;
	z-index: 1;
}

.slider-price {
	position: absolute;
	top: 10%;
	left: 10%;
	font-size: 60px;
	font-weight: 300;
	text-align: center;
	color: #fff;
	border: 1px solid grey;
	z-index: 1;
}

.buy-button {
	position: absolute;
	top: 50%;
	right: 10%;
	font-size: 30px;
	font-weight: 900;
	color: #fff;
	border: 1px solid grey;
	z-index: 1;
	cursor: pointer;
	background-color: black;
}

.buy-button:hover {
	background-color: white;
	color: black;
}

.slider-item:nth-child(1) .slider-bg {
	background-color: #369e62;
}
.slider-:nth-child(2) .slider-bg {
	background-color: rebeccapurple;
}
.slider-:nth-child(3) .slider-bg {
	background-color: teal;
}
.slider-:nth-child(4) .slider-bg {
	background-color: cornflowerblue;
}
.slider-:nth-child(5) .slider-bg {
	background-color: rgb(124, 115, 80);
}

.slider-:nth-child(1) .slider-price {
	color: #369e62;
}
.slider-:nth-child(2) .slider-price {
	color: white;
}
.slider-:nth-child(3) .slider-price {
	color: teal;
}
.slider-:nth-child(4) .slider-price {
	color: cornflowerblue;
}
.slider-:nth-child(5) .slider-price {
	color: cornsilk;
}
